-- ============================================
-- Seed Students for Pilot Testing
-- Default password for all students is their SR-Code
-- Total: 40 students
-- ============================================


-- Verification
SELECT COUNT(*) as total_students FROM users WHERE role = 'student';
SELECT sr_code, email, first_name, last_name FROM users WHERE role = 'student' ORDER BY last_name, first_name;

-- ============================================
-- Test Login Examples:
-- ============================================
-- Email: 24-31688@g.batstate-u.edu.ph
-- Password: 24-31688
--
-- Email: 24-37958@g.batstate-u.edu.ph
-- Password: 24-37958
